.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.box1, .box5 {
  height: 5.5rem;
  width: 8rem;
  font-size: 1.7rem;
}

.box2, .box4 {
  height: 7rem;
  width: 10rem;
  font-size: 2.5rem
}

.box3 {
  height: 13rem;
  width: 20rem;
  background: #38495f;
  font-size: 7rem;
  margin-top: 30px;
}

.box1 {
  background: #61ca76; 
}

.box2 {
  background: #4f96d8;
}

.box4 {
  background: #9359b4;
}

.box5 {
  background: #db8331;
}
